.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-content {
    background: #F6F6F6;
    flex: 1;
    padding: 35px 95px;
}

.form-title {
    font-size: 32px;
    font-weight: 400;
    line-height: 43.36px;
    margin-bottom: 50px;
    min-height: 87px;
    text-align: left;
}

.form-column {
    display: flex;
}

.form-column>div {
    width: 50%;
}

.form-column>div:first-child {
    padding-right: 5px;
}

.form-button {
    display: flex;
    justify-content: left;
}

.show-form-container {
    display: flex;
}

.show-form-container .show-form-button {
    background: #eee;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    flex: 1;
    padding: 15px;
}

.show-form-container .show-form-button:hover,
.show-form-container .show-form-button.active {
    background: #444444;
    color: #fff;
}