.team-container {
    padding: 35px;
    position: relative;
}

.team-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: 400;
    line-height: 43.36px;
    text-align: center;
    margin-bottom: 50px;
}

.team-title-boder {
    border: 2px solid;
    margin-top: 10px;
    width: 35px;
}

.team-player-content {
    display: flex;
    flex-wrap: wrap;
}

.team-color {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
}

.team-color .input-field-type-color {
    height: 25px;
}